@{
  Layout = null;
}
<!DOCTYPE html>
<html>
<head>
  <title>Hello World</title>
  <meta charset="utf-8"/>
  <style>
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak { display: none !important; }
  </style>
  <base href="/Application/"/>
</head>

<body>
  <div data-ng-app="myApp">
    <div data-ng-show>Loading..</div>
    <div class="ng-cloak">
  
      <app-menu></app-menu>
      
      <div data-ng-view></div>

      @Scripts.Render("~/angular/js")
      @Scripts.Render("~/app/js")

    </div>
  </div>
</body>
</html>