@{
  Layout = null;
}
<!DOCTYPE html>
<html data-ng-app="myApp">
<head>
  <title>Hello World</title>
  <meta charset="utf-8"/>
</head>
<body>
<div ng-controller="myAppController as myApp">
  {{myApp.title}}
  <people-list people="myApp.people"></people-list>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

@Scripts.Render("~/app/js")
@Scripts.Render("~/angular/js")

</body>
</html>