@{
  Layout = null;
}
<!DOCTYPE html>
<html data-ng-app="myApp">
<head>
  <title>Hello World</title>
  <meta charset="utf-8"/>
  <style>
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak { display: none !important; }
  </style>
  <base href="/Application/"/>
</head>

<body>
<div ng-show>Loading..</div>

<div ng-view></div>

<div class="ng-cloak">
  <div data-ng-controller="myAppController as myApp">
    {{myApp.title}}
    <people-list people="myApp.people"></people-list>
  </div>
</div>

@Scripts.Render("~/angular/js")
@Scripts.Render("~/app/js")

</body>
</html>